<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/headFragment :: headFragment(Ingredients)"></th:block>
</head>
<body>


<header th:replace="fragments/macroPiece/header :: headerMacro('Ingredient list', ${area})"></header>




<div class="container">
    <hr>
    <div th:if="${message !=null}" class="alert alert-success alert-dismissible fade show">
        <span th:text="${message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <section>
        <form id="ingredient-form" th:action="@{/ingredient}" method="POST" th:object="${ingredient}">
            <div class="mb-3">
                <label for="name" class="form-label">Ingredient name</label>
                <input type="text" class="form-control" id="name" th:field="${ingredient.name}" th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Add ingredient</button>
        </form>
    </section>
    <section class="mt-4">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" th:each="ingredient : ${ingredientList}">
                <span th:text="${ingredient.name}"></span>
                <form class="d-inline" method="POST" th:action="@{/ingredient/delete/{id}(id=${ingredient.getId()})}" onsubmit="return confirm('Are you sure?')">
                    <button type="submit" class="btn btn-primary"> delete </button>
                </form>
            </li>
        </ul>
    </section>
</div>



<footer th:replace="fragments/macroPiece/footer :: footFragment"></footer>


</body>
</html>