<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="isEdit=${pizza.id != null}">
<head>
    <th:block th:insert="fragments/headFragment :: headFragment(${isEdit ? 'Edit Pizza' : 'Create New Pizza'})"></th:block>
</head>
<body>


<header th:replace="fragments/macroPiece/header :: headerMacro(${isEdit ? 'EDIT' : 'CREATE'}, ${area})"></header>

<div class="creation-container">
    <form th:with="actionUrl=${isEdit ? '/pizza/edit/'+pizza.id : '/pizza/create'}" class="row gy-2" id="create-pizza" method="POST" th:action="@{${actionUrl}}" th:object="${pizza}" >

        <div class="col-9">

            <div class="col-7">
                <label th:for="name" class="form-label">Pizza name</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="col-3"></div>
            <div class="col-2">
                <label th:for="price" class="form-label">Pizza price</label>
                <input type="number" class="form-control" id="price" step="any" th:field="*{price}" th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('price')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>


            <div class="col-12">
                <label th:for="image" class="form-label">Pizza image URL</label>
                <input type="text" class="form-control" id="image" th:field="*{image}" th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('image')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('image')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-3">
            <h5>Ingredients</h5>
            <div class="form-check" th:each="ingredient : ${ingredientList}">
                <input class="form-check-input" type="checkbox" th:value="${ingredient.id}" th:id="|ingredient_${ingredient.id}|" th:field="*{ingredients}">
                <label class="form-check-label" th:for="|ingredient_${ingredient.id}|" th:text="${ingredient.name}">
                </label>
            </div>
        </div>


        <label th:for="description" class="form-label">Pizza description</label>
        <textarea class="form-controll" id="description" rows="10" th:field="*{description}" th:errorClass="is-invalid"></textarea>
        <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
            <ul>
                <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
            </ul>
        </div>


        <div class="col-12">
            <button class="btn btn-primary" type="submit">Save</button>
            <a th:href="@{/}" class="btn btn-primary">Cancel</a>
        </div>
    </form>
</div>


<footer th:replace="fragments/macroPiece/footer :: footFragment"></footer>


</body>
</html>