<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/headFragment :: headFragment('pizza menu')"></th:block>
</head>
<body>

<header th:replace="fragments/macroPiece/header :: headerMacro('DETAIL', ${area})"></header>

<div class="detail-pizza-container">
    <img th:src="${pizza.image}" alt="immagine pizza">
    <h3 th:text="${'Prodotto: ' + pizza.name}"></h3>
    <p>Descrizione: <br> [[${pizza.description}]]</p>
    <br>
    <span th:text="${'prezzo: ' + pizza.price + ' €'}"></span>

    <h3>Ingredients</h3>
    <ul th:if="${pizza.ingredients.size() > 0}">
        <li th:each="ingredientObj : ${pizza.ingredients}" th:text="${ingredientObj.name}"></li>
    </ul>
    <div th:unless="*{pizza.ingredients.size() > 0}" class="alert alert-info">The list is empty</div>
</div>






<section class="container" th:object="${pizza}">

    <h2>Offers
        <a th:href="@{/offer/create(pizzaId=*{id})}" sec:authorize="hasAuthority('admin')">add</a>
    </h2>

    <div th:if="${message !=null}" class="alert alert-success alert-dismissible fade show">
        <span th:text="${message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div th:if="*{offers.size() == 0}" class="alert alert-info">No offers available</div>

    <ul class="list-group" th:if="*{offers.size() > 0}">
        <li class="list-group-item d-flex justify-content-between align-items-center" th:each="offer : *{offers}" th:object="${offer}">
            <span th:text="*{title}"></span>
            <a class="btn btn-primary my-2" th:href="@{/offer/edit/{id}(id=*{id})}" sec:authorize="hasAuthority('admin')">modify</a>
            <form class="d-inline" method="POST" th:action="@{/offer/delete/{id}(id=${offer.getId()})}" onsubmit="return confirm('Are you sure?')">
                <button type="submit" class="btn btn-primary" sec:authorize="hasAuthority('admin')"> delete </button>
            </form>
        </li>
    </ul>
</section>






<footer th:replace="fragments/macroPiece/footer :: footFragment"></footer>


</body>
</html>