<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/headFragment :: headFragment('pizza menu')"></th:block>
</head>
<body>

<header th:replace="fragments/macroPiece/header :: headerMacro('Pizza list', ${area})"></header>

<div th:if="${message !=null}" class="alert alert-success alert-dismissible fade show">
    <span th:text="${message}"></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div th:unless="${pizzaList.size() > 0}">
    <p>
        There are no pizza's in the menu
    </p>
</div>

<ul class="pizza-list" th:if="${pizzaList.size() > 0}">
    <li th:each="pizza : ${pizzaList}">
        <h3>
            <span th:text="${pizza.getName()}"></span>
            <span th:unless="${pizza.offers.size() == 0}">**** offer up ****</span>
        </h3>
        <br>
        <img th:src="${pizza.getImage()}" alt="">
        <p th:text="${pizza.getDescription()}"></p>
        <span>[['prezzo: ' + ${pizza.getPrice()} + ' €']]</span>
        <div class="button-list-container">
            <a class="btn btn-primary" th:href="@{/pizza/detail/{id}(id=${pizza.getId()})}"> details </a>
            <a class="btn btn-primary" th:href="@{/pizza/edit/{id}(id=${pizza.getId()})}" sec:authorize="hasAuthority('admin')"> modify </a>
            <form method="POST" th:action="@{/pizza/delete/{id}(id=${pizza.getId()})}" onsubmit="return confirm('Are you sure?')" sec:authorize="hasAuthority('admin')">
                <button type="submit" class="btn btn-primary"> delete </button>
            </form>
        </div>


    </li>
</ul>


<footer th:replace="fragments/macroPiece/footer :: footFragment"></footer>

</body>
</html>